* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-blog {
  width: 400px;
  height: 550px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:hover .title {
    color: #f5d04e;

  }
}

.card-blog > img{
  border-radius: 20px;
}

.avatar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.avatar-container img{
  height: 30px;
  width: 30px;
}

.avatar-container p{
  font-weight: 800;
}

.content-card-blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.tag {
  background-color: #f5d04e;
  padding: 8px;
  border-radius: 5px;
  font-weight: 800;
  font-size: .9rem;
}

.published {
  font-size: .85rem;
  font-weight: 600;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
  transition: all .2s;
}

.description {
  color: rgb(151, 151, 151);
}